@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: rgb(0, 0, 0);
  background-color: lemonchiffon;
  word-break: break-word;

}

.phone {
  border: 3px solid black;
  background-color: black;
  border-radius: 24px;
  margin: 0 auto;
  width: 60%;
  padding: 10px;
}

.first-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  background-color: #000532 !important;
  border-radius: 24px;
  margin: 20px auto;
  padding: 40px;
  text-align: center;
}

#img-first-card {
  padding: 10px;
  border-radius: 50%;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  color: lemonchiffon;
  margin: 0 auto;

}

h2 {
  font-weight: 300;
  font-size: 2em;
  color: lemonchiffon;
  padding: 20px;
  margin: 0 auto;
}

p {
  padding: 5px;
  font-weight: 100;
  font-size: 1.5em;
  color: lemonchiffon;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(0, 0, 0);
}


.social {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  background-color: #000532 !important;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px auto;
  text-align: center;
}

.social-element {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin: 5px;
}

ul {
  padding: 0;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container1 {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container1 {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container1 {
    width: 300px;
  }
}
