@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: rgb(0, 0, 0);
  background-color: lemonchiffon;
  word-break: break-word;
}
.layoutflexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

}

.pc1 {
  text-align: center;
  width: 20%;
}

.pc2 {
  text-align: center;
  width: 20%;
}

.first-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  background-color: #000532 !important;
  border-radius: 24px;
  margin: 20px auto;
  padding: 40px;
  text-align: center;
}

#img-first-card {
  padding: 10px;
  border-radius: 50%;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  color: lemonchiffon;
  margin: 0 auto;

}

h2 {
  font-weight: 300;
  font-size: 2em;
  color: lemonchiffon;
  padding: 20px;
  margin: 0 auto;
}

p {
  font-weight: 100;
  margin: 0 auto;
  font-size: 1.5em;
  color: lemonchiffon;
}

a {
  text-decoration: none;
  color: lemonchiffon;
}

a:hover {
  color: lemonchiffon;
}


.social {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 10px auto;
  text-align: center;
}

.social-element {
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container1 {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container1 {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container1 {
    width: 300px;
  }
}
